@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
}
html, body{
    overflow-x: hidden;
}




/*navbar-brand class for box of pic-logo*/
.navbar-brand{
   width: 100px;
   height: auto;
}

.navbar-brand img{
width: 100%;
}
.bigHero{
    
    background-image: url("https://www.travelandleisure.com/thmb/a8RNeDtczuE8TOkaeyKadBv5_Es=/2250x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/vomo-island-fiji-aerial-VOMOFIJI0522-93b17a4f198047a38865e9fae3e34bc3.jpg");
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 display: flex;
 align-items: center;
 justify-content: center;
}


/*white box big hero*/
.textBighero{

    background-color: rgba(25, 166, 217, 0.2);
    color: ;
    width: 300px;
    padding: 50px 10px;
    text-align: center;
margin-left: 30px;
border-radius:30px ;
}
.card img{
width: 100%;
max-height: 300px;
min-height: 250px;
object-fit: cover;

}

/*social media*/
.controlAllSocialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
/* icon control round all circle and all social media icons*/
.icon{
    height: 50px;
    width:50px ;
    border: 2px solid rgb(239, 209, 17);
    border-radius: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black
    orange;
    margin-top: 50px;

}

/*tips page* - make more space bet card and contact form*/
.makespace{
margin-bottom: 100px;
}


/*media queries for ipad*/
@media screen and (max-width: 850px) {
    .bigHero{ 
        height: 40vh;
    }
    .icon{
        margin: 10px;
    }
    /*icon stretch so I reduce margin*/
}



/*media queries for phone*/
@media screen and (max-width: 600px) {
    .bigHero{ 
        height: 40vh;
    }


    /* we change pic on big hero to be shorter on phone size*/
}

